<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='/static/main.css' />
</head>

<body>
    <div class="grid-container">
        <div id="content-container" class="grid-item">
            <h1>PPE Detection Flask App</h1>
            <br>
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="uploaded-file">
                <input type="submit" value="Upload">
            </form>

            <!-- Add a button to trigger the /downloadFile route -->
            <form action="/downloadFile" method="post">
                <input type="text" name="image-url" placeholder="Image URL">
                <input type="submit" value="Download">
            </form>
            <br> 
            <p id="upload-status" style="color:blue;">Choose input media to upload</p>
            <div id="success-message" style="display:none;">
                <p style="color:green;">File uploaded successfully</p>
            </div>
            <br>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <br>
            <form action="/detect_object" method="post">
                <input type="submit" value="Detect Object" />
            </form>
        </div>
        <div id="detected-image-container" class="grid-item">
            <img id="detected-image" src="{{ url_for('static', filename='uploads/annotated.jpg') }}" width="1000" height="640">
            <pre id="jsonOutput" class="codeblock"> here is your json</pre>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>